@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.headerone {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.logo{
  font-size: 24px;
  color: #f9faf8
}

.left-links{
  font-size: 18px;
  color: #e5e7eb
}

.para {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.headertwo {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.para1 {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-left: 200px;
  padding-right: 200px;
  background-color: #e5e7eb;
  font-size: 15px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
}

.para2 {
  display: flex;
  justify-content: flex-end;
  padding-right: 200px;
  padding-bottom: 50px;
  background-color: #e5e7eb;
  font-size: 15px;
  font-weight: bold;
  color: #1f2937;
}

.h2a {
  gap: 10px;
}

button {
  background-color: #3882F6;
  color:white;
  border-radius: 5px;
  border-color: transparent;
  margin-top: 5px;
}

.secondsection {
  display:flex;
  flex-direction: column;
}
.midname {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.boxes {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.caption {
  display: block;
  width: auto;
}

.box {
  border-radius: 25px;
  border: 2px solid #3882F6;
  padding: 20px;
  width: 75px;
  height: 50px;
}

.box1 {
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.footer {
  background-color: #1f2937;
  display: flex;
  color: white;
  justify-content: center;
}

.header
 {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 70px;
  color: white;
}

img {
    width: 300px;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
  }

  a {
    color: white;
    text-decoration: none;
  }

  .sectionfour{
    display:flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 19px;
    margin-bottom: 19px;
    background-color: #3882F6;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;

  }